<%= link_to "About", about_path %>
<%= stylesheet_link_tag "promo" %>

<%= image_tag "duga.svg", :class => "duga" %>
<%= image_tag "plate1.png", :class => "plate" %>
<div class="promo">
<a href="promo">Промо</a>
</div>
<div class="about">
<a  href="about">О нас</a>
</div>
<div class="publ">
<a href="posts">Подборки</a>
</div>
<h1>Plato — поиск аутентичных кафе</h1>
<%= image_tag "phone.png", :class => "phone" %>
<%= image_tag "bubble.svg", :class => "bubble" %>
<p class="plato">Plato&nbsp;&mdash; медиа-сервис, публикующий подборки с&nbsp;аутентичными кафе и&nbsp;ресторанами Москвы.

Мы&nbsp;внимательно выбираем атмосферные места с&nbsp;национальной кухней разных культур, чтобы вы&nbsp;смогли попробовать мир на&nbsp;вкус.</p>
<h2>Возможности</h2>
<%= image_tag "book.svg", :class => "book" %>
<%= image_tag "search.svg", :class => "search" %>
<%= image_tag "heart.svg", :class => "heart" %>
<%= image_tag "globe.svg", :class => "globe" %>
<p class="read">Читайте про самые интересные заведения</p>
<p class="look">Находите кафе и&nbsp;рестораны с&nbsp;аутентичными блюдами</p>
<p class="love">Создавайте собственные подборки с&nbsp;местами</p>
<p class="world">Знакомьтесь с&nbsp;разными культурами мира</p>
<h3>Узнавайте о&nbsp;самых интересных блюдах</h3>
<%= image_tag "lastbubble.svg", :class => "lastbubble" %>
<%= image_tag "green.png", :class => "green" %>
<%= image_tag "berry1.png", :class => "berry1" %>
<%= image_tag "berry2.png", :class => "berry2" %>
<%= image_tag "berry3.png", :class => "berry3" %>


<div class="form-split3">
      <input class="form-split3" type="email" name="pochta" value="" placeholder="">
</div>
<%= image_tag "submit.svg", :class => "submit" %>
<p class="pochta">Ваш e-mail</p>
<p class="subscribe">Подписаться</p>
