<%= stylesheet_link_tag "users" %>


<div class="users_container">

  <% if user_signed_in? %>
   <div class="signout"><%= link_to 'Выйти', destroy_user_session_path, method: :delete %></div>
 <% else %>
   <%= link_to 'Войти', new_user_session_path %>  <%= link_to 'Зарегистрироваться', new_user_registration_path %>
 <% end %>

  <div class="userphoto"></div>
  <div class="usernamebox">
  <h2>Борис</h2>
  <a href="/users/edit"><div class="editicon"></div></a>
  </div>
  <% if user_signed_in? && current_user.isadmin == true %>
     <div class="admin"><%= (@user.isadmin) == true ? "(Администратор)" : "Пользователь" %></div>
  <% end %>
  <div class="addcollection"></div>
  <div class="collectionsrow1">
    <div class="collection1"></div>
    <div class="collection2"></div>
    <div class="collection3"></div>
    <div class="collection4"></div>
  </div>
  <div class="collectionsrow2">
    <div class="collection5"></div>
    <div class="collection6"></div>
    <div class="collection7"></div>
    <div class="collection8"></div>
  </div>


 </div>
