<%= stylesheet_link_tag "posts" %>
<p id="notice"><%= notice %></p>







<div class="mainpage_wrapper">
<%= react_component 'M_Banner' %>
<h2>Актуально сегодня | 06.02.2022</h2>
<%= react_component 'O_Posts_Cards_Topicals' %>
<h1>Попробуйте все блюда мира с Plato</h1>
<%= react_component 'M_Posts_Recommendations_Green', { post: @recpost } %>
<%= react_component 'M_Posts_Recommendations_Blue', { post: @recpost2 } %>
<h1>Что вы хотите найти?</h1>
<%= react_component 'M_Categories_Selection' %>
<%= react_component 'M_Posts_Recommendations_Orange', { post: @recpost3 } %>
<h1>Выберите интересующую вас кухню</h1>
<%= react_component 'O_Categories_Tags' %>
<%= react_component 'M_Posts_Recommendations_Yellow', { post: @recpost4 } %>
</div>
