<%= stylesheet_link_tag "posts" %>
<p id="notice"><%= notice %></p>









     <%= react_component 'O_PostPart', { post: @post } %>


     <% if user_signed_in? %>
     <%= render "comments/form" %>
     <% else %>
     <div class="please">
     <p>Пожалуйста, <%= link_to 'войдите', new_user_session_path %> или <%= link_to 'зарегистрируйтесь', new_user_registration_path %> чтобы оставить комментарий.</p>
     </div>
    <% end %>
    <%= render @post.comments.select(&:persisted?) %>

<div class="recs">
    <h2>Заведения с похожей кухней:</h2>
    <div class="postrecsrow">
      <div class="postrec1"></div>
      <div class="postrec2"></div>
      <div class="postrec3"></div>
      <div class="postrec4"></div>
    </div>
</div>








  <div class="edit_back_buttons">

  <% if user_signed_in? && current_user.isadmin == true %>
  <%= link_to 'Изменить', edit_post_path(@post)  %>
  <% end %>
  </div>
