<%= stylesheet_link_tag "posts" %>
<p id="notice"><%= notice %></p>

<div class="header">
    <h1>Подборки</h1>
<div class="promo">
<a href="#">Промо</a>
</div>
<div class="about">
<a class="pages" href="#">О нас</a>
</div>
<div class="publ">
<a href="#">Подборки</a>
</div>
</div>



   <div class="view-post">
      <p class="view-post__name">
       <%= @post.name %>
     </p>
      <div class="view-post__img">
        <%= image_tag(@post.image.url, alt: 'Image', :class => "post-pic" ) if @post.image? %>
      </div>


      <div class="view-post__discript">


        <div class="view-post__title">
          <h2>
            <%= @post.title %>
          </h2>
        </div>

        <div class="rect"></div>


       <div class="view-post__content">
         <p>
           <%= @post.content.html_safe %>
         </p>
       </div>

      </div>

  </div>


  <div class="final-actions">
  <%= link_to 'Назад', posts_path %>
</div>
