<%= stylesheet_link_tag "posts" %>
<p id="notice"><%= notice %></p>









     <%= react_component 'O_PostPart', { post: @post } %>



  <% if user_signed_in? && current_user.isadmin == false %>
  <% pre_favorite = @post.favorites.find { |favorite| favorite.user_id == current_user.id} %>
  <% if pre_favorite %>
  <%= button_to 'Удалить из избранного',  post_favorite_path(@post, pre_favorite), method: :delete, class: "button_create_comment" %>
  <% else %>
  <%= button_to 'Добавить в избранное', post_favorites_path(@post), method: :post, class: "button_create_comment" %>

  <% end %>
  <% end %>

  <div class="edit_back_buttons">

  <% if user_signed_in? && current_user.isadmin == true %>
  <%= link_to 'Изменить', edit_post_path(@post)  %>
  <% end %>
  </div>
