<%= stylesheet_link_tag "about" %>

<div class="promo">
<a href="promo">Промо</a>
</div>
<div class="about">
<a  href="about">О нас</a>
</div>
<div class="publ">
<a href="posts">Подборки</a>
</div>
<div class="zagolovok"><h1>О нас</h1></div>
<div class="onastext">
  <p>Plato&nbsp;&mdash; медиа-сервис об&nbsp;аутентичных заведениях Москвы.<br><br>

В&nbsp;современном мире людей все больше интересуют культуры других стран и&nbsp;народов. Эта тенденция постепенно распространяется и&nbsp;на&nbsp;национальные кухни мира.<br><br>

Мы&nbsp;изучаем гастрономическую сцену города и&nbsp;публикуем подборки с&nbsp;интересными местами, предлагающими аутентичные блюда.</p>
</div>
<div class="custdev"><h1>Результаты CusDev</h1></div>
<div class="custdevtext"><p>Мы&nbsp;провели исследование и&nbsp;глубинные интервью и&nbsp;выяснили, что у&nbsp;большинства респондентов аутентичные блюда других стран вызывают большой интерес, однако не&nbsp;многие знают, где готовят еду других культур по&nbsp;оригинальным рецептам.<br><br>

Многие люди сталкиваются с&nbsp;проблемой &mdash;найти заведение бывает сложно, так как приходится пользоваться сразу несколькими платформами и&nbsp;тратить много времени.
</p>

<div class="b1"><li>74 опрошенных</li></div>
<div class="b2"><li>6 глубинных интервью</li></div>

</div>

<div class="ca"><h1>Целевая Аудитория</h1>
<div class="b3"><li>Желают попробовать новые блюда</li></div>
<div class="b4"><li>Интересуются другими культурами</li></div>
<div class="b5"><li>Приехали из другой страны</li></div>
</div>
<div class="problem"><h1>Решение проблем</h1></div>
<div class="problemtext">Популярные блюда, которые предлагает большинство кафе и&nbsp;ресторанов, перестают удивлять. Людям хочется пробовать что-то необычное и&nbsp;более аутентичное.<br><br>
Наш медиа-сервис собирает самые уникальные места города на&nbsp;одной платформе.
</div>
<div class="function"><h1>Основные функции</h1></div>
<div class="p"><h2>Публикации</h2>
<p>Основная страница сервиса с&nbsp;подборками про лучшие аутентичные заведения.</p></div>
<div class="k"><h2>Комментарии</h2>
<p>Возможность оставлять комментарии под постами, которые понравились.</p></div>
<div class="s"><h2>Сохранение постов</h2>
<p>Возможность сохранять понравившиеся публицкации в&nbsp;персональные коллекции.</p></div>
<div class="po"><h2>Поиск</h2>
<p>Удобный поиск по&nbsp;ключевым словами. Позволяет находить заведения из&nbsp;подборок.</p></div>
<!-- <div class="pic1"></div> -->
<%= image_tag "Group 31.png", :class => "pic1" %>

<%= image_tag "Group 32.png", :class => "pic2" %>
<%= image_tag "Vector.png", :class => "pic3" %>
<%= image_tag "Group 33.png", :class => "pic4" %>
<%= image_tag "Group 34.png", :class => "pic5" %>
<%= image_tag "Group 14.png", :class => "pic6" %>
<%= image_tag "Group 35.png", :class => "pic7" %>
<%= image_tag "Group 38.png", :class => "pic8" %>
