<!DOCTYPE html>
<link rel="stylesheet" href="stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
<html>
  <head>
    <title>Plato</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
</head>

  <body>

    <% if notice %>
  <p class="notice"><%= notice %></p>
  <% elsif alert %>
  <p class="alert"><%= alert %></p>
  <% end %>

  <%= react_component 'O_Topmenu'%>

  <% if user_signed_in? && current_user.isadmin == true %>
     <p><%= link_to 'Посты', posts_path %></p>
     <p><%= link_to 'Теги', categories_path %></p>
     <p><%= link_to 'Категории', categories_path %></p>
     <% if user_signed_in? && current_user.isadmin == true %>
     <p><%= link_to 'Люди', users_path %></p>
     <% end %>
   <% end %>

    <%= yield %>
<%= react_component 'O_Footer'%>



  </body>
</html>
